

* {
	font-family: 'Helvetic', sans-serif;

}


@media (max-width: 450px) {

 
/* CANNOT MAKE THIS WORK - WANT TO HIDE PROFILES WHEN ON A SMALL SCREEN - It does work on my laptop*/
  .col-md-2 {
    display: none;
    columns: collapsable;
  }

  /* NEED TO CORRECT THE COL. CLASS ON MEDIA QUERY */

  h1 {
    font-size: 40px;
    margin-top: 18px;
    line-height: 30px;
  }
  h2 {
    font-size: 15px;
    margin: 10px 0 15px 0;
    line-height: 30px;
   }

  div {
    margin: 15px 10px 0 10px;
  }

  header{
    background-size: contain;
      }

  header ul { /*doesnt do it though!! */
   font-size: 10px;
   padding: 10px;
   background: rgba(0,0,0,0.5);

 }

  img {
    max-width: 100% 
    height: auto;
  }

  p {
    font-size:18px;
    line-height: 22px;
  }

  small {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
   .col-md-2 {
    display: none;
    columns: collapsable;
  }
}


 header {
  text-align: center;
  background: url("header2.jpg");
  background-size: cover;
  background-position: center;
  height: 250px;
  padding-top: 15px;
 }

 img {
  width: 100%
  max-width: 200px; 
 }



body {
  background-color: antiquewhite;
}

 h1{
  font-family: 'Pacifico', cursive;
  text-align: center;
  padding: 10px, 10px, 10px, 10px;

  background: rgba(0,0,0,0.5);
  margin: auto;
  width: 300px;
  color: white;
  font-size: 50px;

 }


 h2{
  font-family: 'Sintony', sans-serif;
  text-align: center;
  background: rgba(0,0,0,0.5);
  margin: auto;
  width:500px;
  color: white;
  font-size: 18px;

 }

 h3 {
  font-family: 'Pacifico', cursive;
  font-size: 40px;
  text-align: center;
	padding: 25px;
 }

 h4 {
  font-family: 'Sintony', sans-serif;
  padding: 20px 20px 0px 20px;
 }

header ul {
 	 padding: 10px;
   background: rgba(0,0,0,0.5);

 }

 .subheader {
  text-align: center;
  font-family: 'Sintony', sans-serif;
 }

header a {
  color: white;
  font-family: 'Sintony', sans-serif;
  font-size: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;

}

header li {
  display: inline;
  padding:0px 10px 0px 10px;
  padding:12px;
 }

.intro {
  margin: 30px 35px 0px 40px;
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 5px solid white;

}
 p {
  color: black;
	text-align: justify;
	padding: 20px;
 }

button {
  margin: 20px;
}
.introp {
  font-size: 13px;
  font-family: 'Sintony', sans-serif;
  margin: 0px 10px 0px 10px;
  
}

article {
  border: 7px solid white;
  margin: 20px;
}
 .twitter-hashtag-button {
 margin: 30px 0px 30px 0px;
}

 #map {
	 align-content: center;
 }

.class-md-2{
  column-width: 100%;
}